.condition-link {
    color: $secondary-title-color;
    text-decoration: underline;
    font-size: 12px;
    line-height: calc(14 / 12);
    
    @media screen and (min-width: 1200px) {
        font-size: 14px;
    line-height: calc(24 / 14);
    }
}

.checkbox-agree {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: calc(14 / 12);
    // line-height: 1.7;

    color: $primary-color;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
    line-height: calc(24 / 14);
    }
}

.checkbox {
    position: absolute;
    appearance: none;

    &:focus+.checkbox-icon {
            border: 2px solid $logo-color;
        }

                &:checked+.checkbox-icon {
                    background-image: url(../images/checkbox.svg);
                    background-size: contain;
                    border-color: $secondary-title-color;
                }
}

.checkbox-icon {
    display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    background-color: transparent;
    border: 1px solid $title-color;
    border-radius: 2px;
}