.hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color: $hero-color;
  font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
  line-height: calc(60 / 44);
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-mobile@2x.jpg);
}
}

.section-hero {
  // padding-top: 200px;
  // padding-bottom: 200px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  // max-width: 1600px;
  // height: 600px;
  @media screen and (max-width: 767px) {
    max-width: 480px;
  }
  // height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

//   @media screen and (min-width: 768px) {
//     width: 768px;
//     height: 400px;
//     padding: 118px 204px;
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(../images/hero-tablet.jpg);
//     background-size: 768px 400px;
//     background-position: center;
//   }
}

.section-hero {
    @media screen and (min-width: 768px) {
    width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-tablet.jpg);
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-desktop.jpg);
    background-size: cover;
    background-position: center;
    
}
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-tablet@2x.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-desktop@2x.jpg);
  }
}


.container-hero {
  width: 390px;

  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}

.hero-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;
  color: $hero-color;
  background-color: $secondary-title-color;
  font-family: $font-family-roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
