.menu__backdrop {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 50;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: $transition;
    background-color: $hero-color;
    &.is-open {
    transform: translateY(0);
    opacity: 1;
    visibility: initial;
    }
    
}

.menu-btn {
    padding: 0;
    z-index: 99;
    &:hover,
    &:focus {
        fill: $secondary-title-color;
    }
    transition: fill $transition;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &.is-open {
        position: fixed;
        top: 10px;
        right: 15px;
    }
}

.menu-btn__icon {
    width: 40px;
    height: 40px;
}

.menu-btn.is-open .menu-btn__icon-open {
    opacity: 0;
}

.menu-btn.is-open .menu-btn__icon-close {
    opacity: 1;
}

.menu-btn {
    .menu-btn__icon-open {
        opacity: 1;
    }

    .menu-btn__icon-close {
        opacity: 0;
    }
}