.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $background-color;

    &-container {
            @media screen and (min-width: 1200px) {
                display: flex;
            align-items: baseline;
            gap: 93px;
            text-align: center;
            }
        }
}

.address-container {
    // margin-right: 70px;
    text-align: center;

    @media screen and (max-width: 1199px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.address {
    margin-top: 20px;
    font-style: normal;

    &-link {
            color: $hero-color;
            text-decoration: none;
        }
}

.contacts-footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.contacts-footer__link {
    color: #ffffff99;
    text-decoration: none;
}

.footer-top {
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 165px;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        gap: 70px;
        justify-content: center;
        align-items: baseline;
    }
}

